.exit-card {
    width: 410px;
    height: 243px; /* 200+33+5+5 */
    position: absolute; left:0; top:0;
    background-color:white;
    border: 5px solid gray;
    z-index: 99996; /* less than google dict extension*/
    box-sizing: border-box;   /* cannot help */
}
#longdo-head {
    background-color: #FF7F04;
    width: 100%;
    height: 33px;
    padding: 5px;
    box-sizing: border-box;
}