@charset "utf-8";
/* CSS Document */

body{
    line-height: 1.5;
    font-family: Arial,Helvetica,sans-serif;
	color: #505050;
	min-width: 1200px;
	margin:0;
	padding:0;
	font-size:12px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	background-color: transparent;
}

a:link{
	color:#fb4f03;
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color:#fb4f03;
}

a:hover{
	color:#ff7f04;
	text-decoration: none;
}

#wrapper{
	margin: 0;
	padding: 0;
}

h1,h2,h3{
	font-size: 16px;
	padding:0;
	margin:0;
}

p,li{
	font-size: 12px;
}

pre {
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
}

/*************top navigator******************/

table#top-nav{
	background-color:#FF7F04;
	font-size: 11px;
	line-height: 150%
}

table#top-nav td.home-menu{
	text-align: right;
}

#longdo-services{
	padding-left: 90px;
	margin:0;
	color: #FFF;
}


#longdo-services ul{
	margin:0;
	padding: 0;
	list-style: none;
}

#longdo-services table td{
	padding: 0 3px 0 5px;
	font-size: 11px;
	color: #fff;
  border-left: 1px solid #fff;
}

#longdo-services table td:first-child{
  padding-left: 0;
  border-left: none;
}

#longdo-services table td a{
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}

#longdo-services table td a:hover{
	text-decoration: underline;
}


#home-menu{
	float:right;
	margin-right: 70px;
}

/*#home-menu ul{
	margin:0 30px 0 0;
	padding:0;
	list-style: none;
}

#home-menu ul li{
	display: block;
	float: right;
	padding:0 8px 0 14px;
}*/

#home-menu table td.home{
	background: url(../images/home.png) no-repeat 7px center;
	padding-left: 20px;
	padding-right: 8px;
}

#home-menu table td.blog{
	background: url(../images/blog.png) no-repeat 7px center;
	padding-left: 21px;
	padding-right: 8px;
}

#home-menu table td.news{
	background: url(../images/news.png) no-repeat 7px center;
	padding-left: 20px;
	padding-right: 8px;
}

#home-menu table td.mail{
	background: url(../images/mail.png) no-repeat 7px center;
	padding-left: 21px;
	padding-right: 8px;
}

#home-menu table td.wordlist{
	background: url(../images/wordlist.png) no-repeat 7px center;
	padding-left: 20px;
	padding-right: 8px;
}

#home-menu table td.language{
	background: url(../images/language.png) no-repeat left center;
	padding-left: 14px;
	padding-right: 8px;
}

#home-menu table td{
	font-size: 11px;
	color: #fff;
  border-left: 1px solid #fff;
}

#home-menu table td:first-child{
  border-left: none;
}

#home-menu table td:last-child{
  padding-left: 5px;
}

#home-menu table td a{
	font-size: 11px;
	color: #fff;
	text-decoration: none;
}

#home-menu table td a:hover{
	text-decoration: underline;
}

.thai-language{
	font-size: 11px;
	padding: 0;
	font-weight: bold;
	color: #FFFFFF;
}

.english-language{
	font-size: 11px;
	padding: 0;
	font-weight: bold;
	color: #FFFFFF;
}

a:hover span.thai-language , a:hover span.english-language{
	color: #FFFFFF;
}

/*************logo******************/

table#logo-ads{
	height: 130px;
	background: url(../images/grey-line.gif) repeat-x left top;
}

table#logo-ads.popthai-mode {
	height: 165px;
	background: url(../images/grey-line.gif) repeat-x left top;
}

_:-moz-tree-row(hover), table#logo-ads {
  height: 135px;
}

_:-moz-tree-row(hover), table#logo-ads.popthai-mode {
  height: 170px;
}

#longdodict-logo{
	text-indent: -2000px;
	height: 70px;
	width: 280px;
	margin-left: 89px;
	margin-top:16px;
	background: #FFF url("../images/2017_icon/dict_web_logo.png") no-repeat;
}

a:hover #longdodict-logo{
	cursor: pointer;
}

#animation-ads{
	text-align: right;
	margin-right: 80px;
	padding-top: 15px;
	height: 100px;
}

/*************search bar******************/

#search-bar{
	/*border-top: 1px solid #bebcbd;*/
	border-bottom: 1px solid #bebcbd;
	/*background: #FFF url("../images/search-bar-bg.png") repeat-x left bottom;*/
  background: #FFF no-repeat center bottom; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFF, #D5D5D5) no-repeat center bottom; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF, #D5D5D5) no-repeat center bottom; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF, #D5D5D5) no-repeat center bottom; /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF, #D5D5D5) no-repeat center bottom; /* Standard syntax (must be last) */
  background-size: 100% 100%;
}

#search-panel{
}

/*************search bar******************/

#search-menu{
	padding-right: 80px;
	/*background: url("../images/divider.gif") no-repeat 0px 7px;*/
}

#search-menu table{
	float: right;
}

#search-menu table td{
	padding: 0 18px;
	/*background: url("../images/search-menu-divider.png") no-repeat left bottom;*/
  -webkit-border-image:
    -webkit-gradient(linear, 0 100%, 0 0, from(#AAA), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image:
    -webkit-linear-gradient(bottom, #AAA, rgba(0, 0, 0, 0)) 1 100%;
  -moz-border-image:
    -moz-linear-gradient(bottom, #AAA, rgba(0, 0, 0, 0)) 1 100%;
  -o-border-image:
    -o-linear-gradient(bottom, #AAA, rgba(0, 0, 0, 0)) 1 100%;
  border-image:
    linear-gradient(to top, #AAA, rgba(0, 0, 0, 0)) 1 100%;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
}

#search-menu table td:not(:first-child){
  border-left-width: 0;
}

#search-menu table td a{
	line-height: 200%;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

#search-menu table td a:hover{
	color: #ff7f04;
}

.dict-menu{
  font-family: 'supermarket';
  font-size: 18px;
  font-weight: normal;
  color: #8b8b8b;
}

a:hover .dict-menu {
  cursor: pointer;
  color: #ff7f04;
}

/*.popthai-menu{
	text-indent: -2000;
	width: 58px;
	height: 38px;
	background: url(../images/txtImages/txtpopthai.png) no-repeat left 7px;
}

a:hover .popthai-menu{
	cursor: pointer;
	background-position: -58px 7px;
}

.newwords-th-menu{
	text-indent: -2000;
	width: 64px;
	height: 38px;
	background: url(../images/txtImages/txtaddwords-th.png) no-repeat left 7px;
}

a:hover .newwords-th-menu{
	cursor: pointer;
	background-position: -64px 7px;
}

.download-th-menu{
	text-indent: -2000;
	width: 62px;
	height: 38px;
	background: url(../images/txtImages/txtdownload-th.png) no-repeat left 7px;
}

a:hover .download-th-menu{
	cursor: pointer;
	background-position: -62px 7px;
}

.api-menu{
	text-indent: -2000;
	width: 25px;
	height: 38px;
	background: url(../images/txtImages/txtapi.png) no-repeat left 7px;
}

a:hover .api-menu{
	cursor: pointer;
	background-position: -25px 7px;
}

.stats-th-menu{
	text-indent: -2000;
	width: 27px;
	height: 38px;
	background: url(../images/txtImages/txtstats-th.png) no-repeat left 7px;
}

a:hover .stats-th-menu{
	cursor: pointer;
	background-position: -27px 7px;
}

.help-th-menu{
	text-indent: -2000;
	width: 41px;
	height: 38px;
	background: url(../images/txtImages/txthelp-th.png) no-repeat left 7px;
}

a:hover .help-th-menu{
	cursor: pointer;
	background-position: -41px 7px;
}

.about-th-menu{
	text-indent: -2000;
	width: 79px;
	height: 38px;
	background: url(../images/txtImages/txtabout-th.png) no-repeat left 7px;
}

a:hover .about-th-menu{
	cursor: pointer;
	background-position: -79px 7px;
}*/


/*************EN menu******************/

/*.newwords-en-menu{
	text-indent: -2000;
	width: 79px;
	height: 36px;
	background: url(../images/txtImages/txtaddwords-en.png) no-repeat left 7px;
}

a:hover .newwords-en-menu{
	cursor: pointer;
	background-position: -79px 7px;
}

.download-en-menu{
	text-indent: -2000;
	width: 70px;
	height: 36px;
	background: url(../images/txtImages/txtdownload-en.png) no-repeat left 7px;
}

a:hover .download-en-menu{
	cursor: pointer;
	background-position: -70px 7px;;
}

.stats-en-menu{
	text-indent: -2000;
	width: 64px;
	height: 36px;
	background: url(../images/txtImages/txtstats-en.png) no-repeat left 7px;
}

a:hover .stats-en-menu{
	cursor: pointer;
	background-position: -64px 7px;
}

.help-en-menu{
	text-indent: -2000;
	width: 32px;
	height: 36px;
	background: url(../images/txtImages/txthelp-en.png) no-repeat left 7px;
}

a:hover .help-en-menu{
	cursor: pointer;
	background-position: -32px 7px;
}

.about-en-menu{
	text-indent: -2000;
	width: 42px;
	height: 36px;
	background: url(../images/txtImages/txtabout-en.png) no-repeat left 7px;
}

a:hover .about-en-menu{
	cursor: pointer;
	background-position: -42px 7px;
}*/



/*************search bar******************/
#search-form{
	position: absolute;
	top: 105px;
	left: 88px;
	width: 450px;
	margin:0;
	padding:0;

}

#search-form-bottom{
	width: 380px;
}

.search-box{
	/*background:#fff url(../images/search.png) no-repeat 6px 4px;*/
	padding-left: 10px;
	padding-right: 8px;
	font-family: Arial;
	font-size: 20px;
	margin:0 auto;
}

/*for ie*/
.search-box::-ms-clear {
    display: none;
}

/*for firebox*/
/*_:-moz-tree-row(hover), .search-box {
  margin-top: 1px;
}*/

#service{
	z-index: 4;
	position: absolute;
	top: 44px;
	display: none;
	border:1px solid #CCCCCC;
	font-size: 13px;
}

#bt-service{
	background: url(../images/bt-service.png) no-repeat left top;
	width: 30px;
	height: 40px;
	position: absolute;
	top: 3px;
	cursor: pointer;
	-o-background-size: auto 80px, auto;
	-moz-background-size: auto 80px, auto;
	-webkit-background-size: auto 80px, auto;
	background-size: auto 80px, auto;
}

#bt-service, #service {
    left: 282px;
}

#warning-msg{
	display: none;
	font-size: 11px;
	color: red;
	position: absolute;
	top: 46px;
	left: 8px;
}

div.button-div {
  border: 1px solid #FF7F04;
  border-left: none;
  border-radius: 0 3px 3px 0;
}

/*for chrome*/
/*@supports (-webkit-appearance:none) {
  div.button-div {
  }
}*/

/*for firebox*/
/*_:-moz-tree-row(hover), div.button-div {
}*/

input.search-bt {
  background-color: #fff;
	z-index: 6;
	height: 40px;
}

div.read-bt{
  margin-top: -2px;
	z-index: 6;
	height: 40px;
  width: 40px;
  background: url(../images/2017_icon/Dict_read.png) no-repeat center center;
  cursor: pointer;
}

div.read-bt.translate {
  position: absolute;
  top: 0.3em;
  right: 45px;
}

#search {
  margin-top: 0;
}

.search-box,  textarea#search  {
    border: 1px solid #FF7F04;
    border-right: none;
    width: 320px !important;
    height: 42px;
    outline: none;
    border-radius: 3px 0 0 3px;
}
#_suggest_disp {
    top: 42px;
}
#_suggest_disp, #_suggest_disp table, #_suggest_disp table td {
    width: 352px !important;
}
#_suggest_disp div  {
    padding: 2px 0;
}
#_suggest_disp * {
    font-size: 16px;
}

textarea#search {
    font-size: 16px;
    resize: vertical;
    padding: 3px 6px;
    height: 5em;
    resize: none;
}

/*************contents container******************/
.contents-container-placeholder{
	width: 100%;
	background-color: #f1f1f1;
}

#contents-container{
	width: 100%;
	background-color: #f1f1f1;
	/*background: url(../images/sidebar-line.png) repeat-y right top;*/

}

/*************left-placeholder******************/


/*************main content******************/

#main-contents{
	margin: 0;
	padding: 0;
}

/*************hot topic******************/

#contents-showup, #contents-showup-popthai{
	padding: 20px;
	border: 1px solid #bebcbd;
	background-color: #fff;
	margin-bottom: 20px;
	}


.longdo-block{
	padding: 0px;
	margin-bottom: 20px;
	border: 1px solid #bebcbd;
	background-color: #fff;
}

#hot-topic-inner{
	padding: 20px 0;
	border-bottom: 1px dotted #bebcbd;
	margin: 0 23px 20px;
}

table.hot-topic{
	width: 99%;
}

td.hot-news-header{
	background: url( ../images/orange-bg.png) repeat-x 20px center;
	color: #fff;
	height: 26px;
	font-weight: bold;
	padding-left: 20px;
}

.hot-topic-container-with-border{
	border-right: 1px solid #ccc;
	padding:0 20px 0 0;
	margin:20px 10px 10px 10px;
}

.hot-topic-container{
	padding:0 0px 0 0;
	margin:20px 10px 10px 10px;
}

.image-hot-topic{
	padding-bottom: 10px;
}

.title-hot-topic{
	padding: 5px 0px 5px 20px;
	background: url(../images/circle-bullet.png) no-repeat left center;
	border-bottom: 1px solid #eee;
}

.title-hot-topic a, a.latest-blog-title{
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	color: #505050;
	line-height: 18px;
}

.title-hot-topic a:hover, a.latest-blog-title:hover{
	color: #ff7f04;
}

.subtitle-hot-topic{
	padding: 5px 0px 5px 0px;
	font-size: 13px;
	font-weight: bold;
}

.contents-hot-topic{
	font-size:12px;
	padding: 5px 0px 5px 0px;
	line-height: 140%;
}


#adsmainarea{
	padding: 0;
	margin: 20px 0 0 0;
	width:300px;
	border: 1px solid #bebcbd;
}

table td.divider{
	padding: 10px 0 10px 0;
	/*background: url(../images/table-divider.png) repeat-y center top;*/
}

/*************longdo news******************/

#longdo-news{
	margin: 0px 0 20px 0px;
	padding: 15px 15px 25px 23px;
	border: 1px solid #bebcbd;
	background-color: #fff;
}

#longdo-news-header{
	padding: 0px 5px 5px 0px;
}

#longdo-news table{
}

#longdo-news table td{
	font-size: 14px;
	line-height: 180%;
	border-bottom: 1px solid #eee;
}

table.subnews-wrapper{
	width: 100%;
}


.subnews{
	padding: 0 20px;
	margin: 0 0 20px 0;
	border-right: 1px solid #ccc;
	height: 125px;
	line-height: 100%;
}

.subnews-headline{
	padding:0 0 3px 25px;
	background: url(../images/circle-bullet.png) no-repeat 5px top;
	border-bottom: 1px solid #eee;
}

.subnews-headline a{
	font-size: 15px;
	font-weight: bold;
	color: #505050;
}

.subnews-headline a:hover{
	font-size: 15px;
	color: #ff7f04;
}

.subnews-date{
	padding:0 0px 8px 5px;
	font-size: 11px;
	color:#666;
}

.subnews-image{
	border: 0;
	float: left;
	width: 105px;
}

.subnews-article{
	padding:0 0 0 5px;
	font-size: 12px;
	float: left;
	width: 94px;
}

/*************longdo blog******************/

#longdo-blog{
	margin: 0px 0 20px 0px;
	padding: 15px 15px 35px 23px;
	border: 1px solid #bebcbd;
	background-color: #fff;
}

#longdo-blog-header, div.latest-header{
	background: url( ../images/orange-bg.png) repeat-x 20px center;
	padding: 5px 0;
}

.blog-header a, .latest-header a{
	color: #fff;
}

#longdo-blog-header table td.blog-header, .latest-header a{
	color: #fff;
	font-weight: bold;
	padding-left: 20px;
	/*border-bottom: 1px solid #eee;	*/
}

#longdo-latest{
    padding: 15px 15px 35px 23px;
}

#latest-blog{
    width: 58%;
    float: left;
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

#latest-blog ul{
    padding-left: 15px;
    margin: 0;
}

#longdo-latest ul li{
    list-style: none;
    border-bottom: 1px solid #eee;
    clear: left;
    padding: 7px 0;
    margin-right: 15px;
}

#latest-blog p{
    margin: 1px;
    font-size: 11px;
    line-height: 14px;
}

a#latest-all{
    float:right;
    margin-right: 25px;
    font-size: 13px;
    font-weight: bold;
    color: #505050;
    margin-top: 8px;
    white-space: nowrap;
}

a:hover#latest-all{
    color: #FB4F03;
}


.break{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.blog-tag{
    color: #FB4F03;
}

.latest-blog-crop-img {
    border: 0px solid #ccc;
    margin: 2px 10px;
    width:46px;
    height:46px;
    overflow:hidden;
    float:left;
}

.latest-blog-info{
    background-color: #eee;
    display: inline-block;
    padding: 0 15px 0 5px;
    white-space: nowrap;
}

.flag-thumb{
    float: left;
    margin: 0 15px 0 5px;
}

ul.w{
    margin-left: -30px;
}

ul.w li{
    padding-bottom: 9px !important;
}

.w li a{
    color: #505050;
}

.w li a:hover{
    color: #F06203;
}

#add-word{
    margin: 15px 12px 0 20px;
}

#add-word-img{
    float: left;
    margin-right: 10px;
}

#add-word p{
    margin-bottom: 2px;
    line-height: 14px;
    margin-top: 0;
}

#add-word-btn{
    background-image: url('../images/bt-add-new-word.png');
    height: 21px;
    width: 80px;
    float: left;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 5px 0;
}

#add-word-btn:hover{
    background-position: center bottom;
}

.view-all-links{
	font-size: 11px;
	color: #505050;
	float: right;
	padding-right: 20px;
}

.view-all-links a{
	font-size: 11px;
	color: #505050;
}

.view-all-links a:hover{
	color: #ff7f04;
}

#longdo-blog table td{
	/*border-bottom: 1px solid #eee;*/
}

#longdo-blog ul{
	padding: 2px 30px 0 30px;
	margin: 0 0 0 0;
	list-style-image: url(../images/bullet-orange.png);
}

#longdo-blog ul li{
	font-size: 13px;
	line-height: 200%;
	border-bottom: 1px solid #eee;
}

#longdo-blog ul li a{
	font-size: 13px;
	font-weight: bold;
	color: #505050;
	text-decoration: none;
}

#longdo-blog ul li a:hover{
	color: #ff7f04;
}


/*************right-sidebar******************/

#sidebar{
	float:right;
	width: 302px;
	padding: 0px 0 10px 0;
}


/*************longdodict on iPhone******************/

.longdodict-mobile{
	width: 302px;
	padding: 0;
}

.sidebar-header{
	padding: 0px 0 5px 36px;
	line-height: 200%;
	font-size: 15px;
	font-weight: bold;
	color: #505050;
	background:#FFF url(../images/sidebar-header-bg.png) no-repeat left top;
	/*background-color:#FF7F04;	*/
}

.sidebar-header a{
	color: #505050;
}

.sidebar-header a:hover{
	color: #ff7f04;
}

.gadgets-body, .followus-body{
	border: 1px solid #bebcbd;
	padding-bottom: 10px;
	background-color: #FFFFFF;
}

.longdodict-mobile-body{
	border: 1px solid #bebcbd;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
}

.longdodict-mobile-contents{
	padding: 0;
	font-size: 12px;
	height: 252px;
	background:#fff url(../images/adsLongdoDictMobile.png) no-repeat left center;
}


#appstore{
	padding-top: 2px;
}

a:hover #appstore{
	cursor: pointer;
}

/*************Gadgets******************/

.gadgets{
	margin-top: 20px;
	padding: 0;
	width: 302px;
	background-color: #fff;
}

.gadgets-header{
	background:#fff url(../images/dict-app.png) no-repeat 35px 4px;
	height: 105px;
}

.longdodictIOS img, .longdoToolbar img, .macosx img, .macDashboard img, .vista img, .igoogle img, .chrome img{
    padding: 8px 0 0 8px;
}

.chrome img{
    padding: 0px 0 0 8px;
	margin-top: 9px;
}

.third-party-software{
	margin: 15px 0 0 6px;
	width: 256px;
	height: 24px;
	background:#fff url(../images/downloads/3rdparty.png) no-repeat left top;
}

.developer{
	color: #FB4F03;
}

.gadgets-contents{
	padding: 4px 0px 10px 10px;
}

.gadgets-contents table td.bullet{
	background: url(../images/bullet-orange.png) no-repeat 10px center;
}

.gadgets-contents table td.programme{
	font-size:12px;
	padding: 8px 0 2px 0;
}

.gadgets-contents table td.programme a{
	color:#505050;
}

.gadgets-contents table td.programme a:hover{
	color:#ff7f04;
}

.gadgets-contents table td.os{
	font-size:11px;
	color: #505050;
	line-height: 160%;
	border-bottom: 1px solid #dcdcdc;
}

span.download a{
	font-size:11px;
	text-decoration: none;
	color:#505050;
}

span.download a:hover{
	color: #ff7f04;
}

#viewAll{
	margin: 10px 0 0 214px;
	font-size: 11px;
}

#viewAll a{
	color: #505050;
}

#viewAll a:hover{
	color: #ff7f04;
}

/*************Follow Us******************/

.followus{
	margin-top: 20px;
	padding:0 ;
	width: 302px;
}

.followus-contents{
	/*padding: 5px;*/
}

.followus-contents table{
	text-align: center;
}

.followus-contents table td.followus, .followus-contents table td.followus-middle-icon{
	padding: 5px 0 5px 0;
	border: 0;
	width: 55px;
	font-size: 11px;
}

.followus-contents table td.followus a, .followus-contents table td.followus-middle-icon a{
	color: #505050;
	text-decoration: none;
}

.followus-contents table td.followus a:hover, .followus-contents table td.followus-middle-icon a:hover{
	color: #F60;
}

.followus-contents table td.followus-middle-icon{
	border-left: 1px dotted #dcdcdc;
	border-right: 1px dotted #dcdcdc;
}

#facebook-icon{
	height: 55px;
	background: url(../images/facebook.jpg) no-repeat center center;
}

a:hover #facebook-icon{
	cursor: pointer;
	background-position: center -3px;
}

#twitter-icon{
	height: 55px;
	background: url(../images/twitter.jpg) no-repeat center center;
}

a:hover #twitter-icon{
	cursor: pointer;
	background-position: center -3px;
}

#youtube-icon{
	height: 55px;
	background: url(../images/youtube.jpg) no-repeat center center;
}

a:hover #youtube-icon{
	cursor: pointer;
	background-position: center -3px;
}

/*************new entry-longdo stat******************/
.commercial-ads{
	margin-bottom: 20px;
	padding: 0;
	width: 302px;
	background-color: #fff;
}

.comAds-body{
	margin: 0;
	padding: 0;
	border: 1px solid #bebcbd;
}

.comAds-header{
	margin: 0;
	padding: 0px 0 0px 36px;
	line-height: 200%;
	font-size: 15px;
	font-weight: bold;
	color: #505050;

	background:#FFF url(../images/sidebar-header-bg.png) no-repeat left top;
}

.comAds-contents{
	margin: 0;
	padding: 0;
}

/*************new entry-longdo stat******************/
.newwords{
	background-color: #fff;
	border: 1px solid #bebcbd;
}

table.newwords-list{
	font-size: 12px;
	margin-bottom: 8px;
}

table.newwords-list td.language{
	color: #FB4F03;
	font-weight: bold;
	padding-left: 20px;
}

table.newwords-list td.newwords-top3{
	color:#505050;
	padding-left: 15px;
}

td.newwords-top3 a{
	color: #505050;
}

td.newwords-top3 a:hover{
	color: #f06203;
}

.topcontributors{
	background-color: #fff;
	border: 1px solid #bebcbd;
	margin-top: 20px;
}

table.topcontributors-short{
	font-size: 12px;
	margin-bottom: 8px;
}


table.topcontributors-short td.language{
	color: #FB4F03;
	font-weight: bold;
	padding-left: 20px;
}

table.topcontributors-short td.namelist{
	color:#505050;
	padding-left: 10px;
}


/*************footer******************/

#footer{
	width: 100%;
}

#footer-copyright{
	color: #FFF;
	font-size: 11px;
	padding: 5px 100px;
	background-color: #373737;
	border-top: 1px solid #bebcbd;
}

#footer-copyright a{
	color: #FFF;
}

#footer-copyright a:hover{
	color:#ff7f04;
	text-decoration: underline;
}

#footer-links{
	font-size: 12px;
	padding: 25px 15px;
	background: url("../images/grey-line.gif") repeat-x left top transparent;
}

#footer-links ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer-links ul li{
	background: url("../images/bullet-orange.png") no-repeat scroll left center transparent;
	margin: 0;
	padding-left: 15px;
	line-height: 160%;
}

#footer-links ul li a{
	font-size: 12px;
	color: #505050;
	text-decoration: none;
}

#footer-links ul li a:hover{
	color: #f06203;
}

#footer-links h2{
	margin: 0;
	font-size: 18px;
	padding-bottom: 8px;
}

#truehitsRanking{
	display:none;
}

#disclaimer{
	display:none;
}

/**************text-format and clear float*******************/

.text-orange{
	color: #f06203;
}

.free-download{
	color: #ff0000;
	font-weight: bold;
}

.clear{
	clear: both;
}

/**************stylize search page*******************/

table.search-result-table{
	/*border-collapse: collapse;*/
	margin-bottom: 20px;
	font-size: 13px;
	color: #000000;
}

table.search-result-table tr{
	border-bottom: 1px solid #d4d4d4;
}

table.search-result-table tr td{
	border-bottom: 1px solid #d4d4d4;
	line-height: 1.5;
}

table.search-result-table tr td img{
	border:0;
}

table.tanaka-search-result-table{
	/*border-collapse: collapse;*/
	font-size: 13px;
	color: #000000;
}

td.tanaka-search-row{
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
	line-height: 1.5;
}

.foreign-dict-result{
	/*background-color:#F2EEEE;*/
	padding: 0 20px 20px 20px;
	border-bottom: 1px solid #d4d4d4;
	font-size: 13px;
}

td.search-table-header{
	background: #F0EFEF url(../images/orange-square-bullet.gif) no-repeat 7px 10px;
	font-size: 14px;
	padding: 3px 0 3px 20px;
	border-bottom: 1px solid #AFAEAE;
}

td.header-search-result{
	width: 21px;
	height: 16px;
	background:  url(../images/header-search-result.png) no-repeat 5px 4px;
}

.performance-header{
	background: url(../images/performance-header-bg.png) repeat-x left top;
	/*background-color: #e3e3e3;*/
	height: 27px;
	font-size: 15px;
}

td.speed-result{
	color: #191919;
	font-size: 11px;
	padding: 5px 7px 0;
}

.suggestion-output{
	background-color:#F5F4F4;
}

a.suggestion-output{
	font-size: 16px;
  font-weight: normal;
}

td.expand-width table{
	width: 100%;
}

.satisfy-box{
	font-size: 13px;
	line-height: 1.5;
}

.satisfy-box h2{
	border-bottom: 1px solid #AFAEAE;
	background: #F0EFEF url(../images/orange-square-bullet.gif) no-repeat 7px 10px;
	font-size: 15px;
	padding-left: 20px;
	margin:0;
}

.satisfy-text{
	margin-top: 8px;
}

#fb-comment-block{
	margin-top: 8px;
}

#fb-root h2{
	font-size: 15px;
	border-bottom: 1px solid #AFAEAE;
	background: #F0EFEF url(../images/orange-square-bullet.gif) no-repeat 7px 10px;
	padding: 3px 0 3px 20px;
}

/**************stylize search page*******************/
.search-online-text{
	font-size: 14px;
	font-weight: bold;
}

table.online-dictionary{
	font-size: 13px;
}

.online-dictionary-header{
	background-color: #505050;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	padding-left: 7px;
}

td.online-dictionary-link a{
	color:#505050;
}

#inputarea{
	position: relative;
}

.word-not-found-text{
	font-size: 14px;
}

.word-not-found-dict{
	font-size: 12px;
	font-weight: bold;
}

.suggest-vocab a{
	font-size: 12px;
}

/**************about page style*******************/

.end-of-answer{
	padding-bottom: 8px;
}

/**************show phonemes page style*******************/

th.show-phonemes{
	font-size: 12px;
	border-bottom: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	width: 150px;
	text-align: left;
	background-color: #F7F9F9;
	color: #666666;
	line-height: 1.8;
}

table.show-phonemes td{
	font-size: 11px;
	border-bottom: 1px solid #d4d4d4;
	line-height: 1.6;
}

/**************menu page style*******************/

.page-header{
	color:#fff;
	padding-left: 12px;
	background: url( ../images/orange-bg.png) repeat-x 20px center;
	line-height: 1.8;
}

.page-header a {
	color:#fff;
}

/**************stats page style*******************/

.frequently-search-terms td{
	font-size: 12px;
	border-bottom: 1px solid #d4d4d4;
	line-height: 1.6;
	padding: 0 10px;
}


.top-ten-contributors th{
	font-size: 14px;
	border-bottom: 1px solid #d4d4d4;
	line-height: 1.6;
	padding: 0 10px;
	text-align: left;
	font-weight: bold;
}

.top-ten-contributors td{
	font-size: 12px;
	border-bottom: 1px solid #d4d4d4;
	line-height: 1.6;
	padding: 0 10px;
	text-align: left;
}

.dict-stats{
	font-size: 12px;
}

/**************popthai result page*******************/
#contents-showup h2 .header-popthai-service, #contents-showup-popthai h2 .header-popthai-service{
	color: #FF7F04;
	/*background: #F0EFEF url(../images/orange-square-bullet.gif) no-repeat 7px 10px;*/
  font-family: 'supermarket';
	font-size: 24px;
	padding: 15px 0 3px 0px;
	/*border-bottom: 1px solid #AFAEAE;*/
  border-top: 1px solid #AFAEAE;
  font-weight: normal;
}

#contents-showup h2:first-of-type .header-popthai-service, #contents-showup-popthai h2:first-of-type .header-popthai-service {
  border-top: none;
  padding-top: 3px;
}

.header-popthai-service a {
 color: #FF7F04;
}

.result-google-translator{
	font-size: 12px;
	font-family: arial, tahoma, san-serif;
}

/**************api page*******************/

.api-text{
	font-size: 13px;
}

/*แปลคำ / ติดโพย*/

ul.translate-type-form {
  list-style-type: none;
  margin-top: 3px;
  padding-left: 4px;
}

ul.translate-type-form li {
  display: inline;
  padding: 0 6px;
  border-left: 1px solid #000;
  font-size: 14px;
}

ul.translate-type-form li:first-child {
  padding-left: 0;
  border-left: none;
}

input[type="radio"][name="translate-type"] {
  display: none;
}
ul.translate-type-form li label span {
  cursor: pointer;
  margin-left: -1px;
  font-family: 'supermarket';
}
input[name="translate-type"]:checked + span {
  color: #FD6402;
}

/*popthai res*/
.popthai-desc {
  width: 100%;
  display: table;
  font-weight: normal;
}

.popthai-desc div {
  display: table-cell;
  color: #8b8b8b;
  font-family: 'supermarket';
}

.popthai-desc div.left-desc {
  width: 1px;
  white-space:nowrap;
}

.popthai-desc div.right-desc {
  text-align: right;
}

label.show-pronunc-div span {
  background: #fff url("../images/2017_icon/Dict_check_box.png") no-repeat;
  padding: 5px 3px 0 22px;
}

label.show-pronunc-div input:checked + span {
  background: #fff url("../images/2017_icon/Dict_checked_box.png") no-repeat;
}

input[type="checkbox"][name="show-pronunciation"] {
  display: none;
}

td.popthai-new-string {
  width: 100%;
}

td.popthai-new-string p, td.vocab-new-string p {
  font-size: 22px;
  font-family: Arial,'Hiragino Sans GB',STXihei,'Microsoft YaHei',sans-serif;
  margin: 6px 0;
}

ul.meaning-content {
}

.form-inline ul {
  display: inline;
}

.translate-language-form {
  padding: 0;
  border: none;
  width: 45px;
  border-radius: 3px;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: -15px;
  left: 322px;
  /*margin: -102px 0 0 318px;*/

  background: #fff url("../images/2017_icon/Dict_dropdown.png") no-repeat 90% 50%;
}

_:-moz-tree-row(hover), .translate-language-form {
  top: -17px;
  left: 322px;
}

.translate-language-form-en {
  width: 70px;
  left: 297px;
}

_:-moz-tree-row(hover), .translate-language-form-en {
  width: 70px;
  left: 294px;
  padding-right: 5px;
}

.translate-language-form select {
  color: #FF7F04;
  cursor: pointer;
  padding: 1px 3px;
  width: 130%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.translate-language-form select:focus {
    outline: none;
}

/*new ribbon*/
.ribbon {
  width: 40px;
  height: 16px;
  position: absolute;
  margin-left: 12px;
  margin-top: 2px;
  background: url(../images/2017_icon/NEW.png) no-repeat left top;
}
_:-moz-tree-row(hover), .ribbon {
	margin-top: 3px;
}
/*audio*/
a.audio-ready {
  cursor: pointer;
}

a.audio-ready span {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(../images/2017_icon/Dict_read.png) no-repeat left top;
}

a.audio-ready.is-playing span {
  cursor: default;
}

/*for high resolution*/
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  label.show-pronunc-div span {
    background: #fff url("../images/2017_icon/Dict_check_box@2x.png") no-repeat;
    background-size: 19px 17px;
  }

  label.show-pronunc-div input:checked + span {
    background: #fff url("../images/2017_icon/Dict_checked_box@2x.png") no-repeat;
    background-size: 19px 17px;
  }

  div.read-bt{
    background: url(../images/2017_icon/Dict_read@2x.png) no-repeat center center;
    background-size: 20px 16px;
  }

  a.audio-ready span{
    background: url(../images/2017_icon/Dict_read@2x.png) no-repeat left top;
    background-size: 20px 16px;
  }

  .translate-language-form {
    background: #fff url("../images/2017_icon/Dict_dropdown@2x.png") no-repeat 90% 50%;
    background-size: 6px 3px;
  }

  #longdodict-logo{
  	background: #FFF url("../images/2017_icon/dict_web_logo@2x.png") no-repeat;
    background-size: 280px 72px;
  }

  .ribbon{
  	background: url("../images/2017_icon/NEW-2x.png") no-repeat;
    background-size: 40px 16px;
  }

  #search-bar{
  	/*border-top: 1px solid #bebcbd;*/
  	border-bottom: 1px solid #bebcbd;
  	/*background: #FFF url("../images/search-bar-bg.png") repeat-x left bottom;*/
    background: #FFF no-repeat center bottom; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFF, #EAEAEA) no-repeat center bottom; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFF, #EAEAEA) no-repeat center bottom; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFF, #EAEAEA) no-repeat center bottom; /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFF, #EAEAEA) no-repeat center bottom; /* Standard syntax (must be last) */
    background-size: 100% 40%;
  }
}

div.german-msg {
  margin: 0px 0 20px 0;
}